* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: rgb(0, 0 , 0);
    margin: 100px;
}

.fill {
    background-image: url('about-2.jpg');
    background-size: cover;
    position: relative;
    height: 150px;
    width: 150px;
    top: 5px;
    left: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.empty {
    display: inline-block;
    height: 160px;
    width: 160px;
    margin: 15px;
    border: 3px grey solid;
    border-radius: 5px;
    background-color: rgb(240, 219, 219);
}

.hold {
    border: solid #ccc 4px;
}

.hovered {
    background: #f4f4f4;
    border-style: dashed;
}

.invisble {
    display: none;
}